{% extends "layouts/base.html" %}

{% block title %}
    {% if instruction %}
        Editar Documentação
    {% else %}
        Criar Documentação
    {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-12 col-12">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark d-flex m-0">
                        <li class="breadcrumb-item">
                            <a href="{% url 'list_section' %}"><small><i class="fas fa-home"></small></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'list_category' section_id=section.id %}"><small>{{ section.title }}</small></a>
                        </li>
                        <li class="breadcrumb-item">
                            {% if category %}
                                <a href="{% url 'list_subcategory' section_id=section.id category_id=category.id %}"><small>{{ category.name }}</small></a>
                            {% else %}
                                <span>Categorias</span>
                            {% endif %}
                        </li>
                        <li class="breadcrumb-item">
                            {% if subcategory %}
                                <a href="{% url 'list_topic' section_id=section.id category_id=category.id subcategory_id=subcategory.id %}"><small>{{ subcategory.name }}</small></a>
                            {% else %}
                                <span>Subcategorias</span>
                            {% endif %}
                        </li>
                        <li class="breadcrumb-item">
                            {% if topic %}
                                <a href="{% url 'list_subtopic' section_id=section.id category_id=category.id subcategory_id=subcategory.id topic_id=topic.id %}"><small>{{ topic.name }}</small></a>
                            {% else %}
                                <span>Tópicos</span>
                            {% endif %}
                        </li>
                        <li class="breadcrumb-item active">
                            {% if subtopic %}
                                <a href="{% url 'list_instruction' section_id=section.id category_id=category.id subcategory_id=subcategory.id topic_id=topic.id subtopic_id=subtopic.id %}">
                                    {% if section and category and subcategory and topic and subtopic %}
                                <small>{{ subtopic.name }}</small>
                                    {% else %}
                                        <span>Subtópicos</span>
                                    {% endif %}
                                </a>
                            {% else %}
                                <span>Subtópicos</span>
                            {% endif %}
                        </li>
                        {% if instruction %}
                        <li class="breadcrumb-item active" aria-current="page"><small>{{ instruction.title }}<small></li>
                        {% else %}
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>




<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-1 text-center">
                        {% if instruction %}
                            Editando Documentação: {{ instruction.title }}
                        {% else %}
                             Nova Documentação
                        {% endif %}
                    </h2>
                </div>
                <div class="card-body">
                    {% if messages %}
                        <div class="alert alert-success" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form method="post" enctype="multipart/form-data" class="mt-4">
                        {% csrf_token %}
                        {{ form.media }}

                        <!-- Campo de Título -->
                        <div class="form-group mb-3">
                            <label for="{{ form.title.id_for_label }}">Título</label>
                            {{ form.title }}
                            {% for error in form.title.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <!-- Campo de Conteúdo -->
                        <div class="form-group mb-3">
                            <label for="{{ form.content.id_for_label }}">Conteúdo</label>
                            {{ form.content }}
                            {% for error in form.content.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <!-- Campo de Seção -->
                        <div class="form-group mb-3">
                            <label for="{{ form.section.id_for_label }}">Seção</label>
                            {{ form.section }}
                            {% for error in form.section.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <!-- Campo de Categoria -->
                        <div class="form-group mb-3">
                            <label for="{{ form.category.id_for_label }}">Categoria</label>
                            {{ form.category }}
                            {% for error in form.category.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <!-- Campo de Subcategoria -->
                        <div class="form-group mb-3">
                            <label for="{{ form.subcategory.id_for_label }}">Subcategoria</label>
                            {{ form.subcategory }}
                            {% for error in form.subcategory.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <!-- Campo de Tópico -->
                        <div class="form-group mb-3">
                            <label for="{{ form.topic.id_for_label }}">Tópico</label>
                            {{ form.topic }}
                            {% for error in form.topic.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <!-- Campo de Subtópico -->
                        <div class="form-group mb-3">
                            <label for="{{ form.subtopic.id_for_label }}">Subtópico</label>
                            {{ form.subtopic }}
                            {% for error in form.subtopic.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                            <a href="{% url 'list_instruction' section_id=section.id category_id=category.id subcategory_id=subcategory.id topic_id=topic.id subtopic_id=subtopic.id %}" class="btn btn-secondary btn-sm">Voltar</a>
                        </div>
                        
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
