{% extends "layouts/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-12 col-12">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark d-flex m-0">
                        <li class="breadcrumb-item">
                            <a href="{% url 'list_section' %}"><i class="fas fa-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'list_category' section_id=section.id %}">{{ section.title }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            {% if category %}
                                <a href="{% url 'list_subcategory' section_id=section.id category_id=category.id %}">{{ category.name }}</a>
                            {% else %}
                                <span>Categorias</span>
                            {% endif %}
                        </li>
                        <li class="breadcrumb-item">
                            {% if subcategory %}
                                <a href="{% url 'list_topic' section_id=section.id category_id=category.id subcategory_id=subcategory.id %}">{{ subcategory.name }}</a>
                            {% else %}
                                <span>Subcategorias</span>
                            {% endif %}
                        </li>
                        <li class="breadcrumb-item">
                            {% if topic %}
                                <a href="{% url 'list_subtopic' section_id=section.id category_id=category.id subcategory_id=subcategory.id topic_id=topic.id %}">{{ topic.name }}</a>
                            {% else %}
                                <span>Tópicos</span>
                            {% endif %}
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="{% url 'list_instruction' section_id=instruction.subcategory.category.section.id category_id=instruction.subcategory.category.id subcategory_id=instruction.subcategory.id topic_id=topic.id subtopic_id=subtopic.id %}">{{ subtopic.name }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ instruction.title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- Características da Instrução -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header text-center">
                        <h5 class="card-title mb-0">{{ instruction.title }}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="card text-center mb-3">
                                    <div class="card-body">
                                        <h6 class="card-title"><strong>Autor:</strong></h6>
                                        <p class="card-text">{{ instruction.author.username }}</p>
                                    </div>
                                </div>
                                <div class="card text-center mb-3">
                                    <div class="card-body">
                                        <h6 class="card-title"><strong>Data de Criação:</strong></h6>
                                        <p class="card-text">{{ instruction.created_at|date:"d/m/Y H:i" }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h6 class="card-title"><strong>Contagem de Visualizações:</strong></h6>
                                        <p class="card-text">{{ instruction.view_count }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title"><strong>Conteúdo:</strong></h6>
                                        <p class="card-text">{{ instruction.content|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12 text-left"> <!-- Alinhamento à esquerda -->
                                <a href="{% url 'list_instruction' section_id=instruction.subcategory.category.section.id category_id=instruction.subcategory.category.id subcategory_id=instruction.subcategory.id topic_id=topic.id subtopic_id=subtopic.id %}" class="btn btn-secondary">
                                    <i class="fas fa-arrow-left"></i> Voltar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Botão de Voltar -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
