{% extends 'layouts/base-fullscreen.html' %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-3">
              <h2>Recuperação de Senha</h2>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <p>Por favor, insira seu endereço de e-mail para receber um link para redefinir sua senha.</p>

            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Enviar Link para Redefinição</button>
            </form>

            <p>Após enviar o e-mail, verifique sua caixa de entrada para o link de redefinição de senha.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Recuperação de Senha -->
  <div class="modal fade" id="passwordResetModal" tabindex="-1" aria-labelledby="passwordResetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordResetModalLabel">Redefinição de Senha</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Nos enviamos um e-mail com instruções para configurar sua senha, caso uma conta com o e-mail fornecido exista.</p>
          <p>Se você não recebeu o e-mail, por favor, certifique-se de que o endereço de e-mail está correto e verifique sua caixa de spam.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
<script>
  // Exibe o modal automaticamente se a variável 'success_message' for definida
  {% if success_message %}
    var myModal = new bootstrap.Modal(document.getElementById('passwordResetModal'), {
      keyboard: false
    });
    myModal.show();
  {% endif %}
</script>
{% endblock javascripts %}
