{% extends 'layouts/base.html' %}

{% block content %}
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8">
      <!-- Card do gráfico -->
      <div class="card bg-default">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
              <h5 class="h3 text-white mb-0">Entradas no Sistema</h5>
            </div>
            <div class="col">
              <!-- Filtros de tempo como botões -->
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2">
                  <a
                    href="#"
                    class="nav-link py-2 px-3 active"
                    onclick="setFilter('day')"
                  >
                    <span class="d-none d-md-block">Dia</span>
                    <span class="d-md-none">D</span>
                  </a>
                </li>
                <li class="nav-item mr-2">
                  <a
                    href="#"
                    class="nav-link py-2 px-3"
                    onclick="setFilter('week')"
                  >
                    <span class="d-none d-md-block">Semana</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
                <li class="nav-item mr-2">
                  <a
                    href="#"
                    class="nav-link py-2 px-3"
                    onclick="setFilter('month')"
                  >
                    <span class="d-none d-md-block">Mês</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="#"
                    class="nav-link py-2 px-3"
                    onclick="setFilter('year')"
                  >
                    <span class="d-none d-md-block">Ano</span>
                    <span class="d-md-none">A</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Gráfico -->
          <div class="chart">
            <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>

      <!-- Seção "Usuários por Período" -->
      <div class="mt-5 text-center">
        <h4 class="text-white">Usuários por Período</h4>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var days = JSON.parse("{{ days|escapejs }}");
  var entries = JSON.parse("{{ entries|escapejs }}");
  var usersPerDay = JSON.parse("{{ users_per_day|escapejs }}");

  var chart;

  function setFilter(filter) {
    document.querySelectorAll('.nav-link').forEach((link) => {
      link.classList.remove('active');
    });
    event.target.classList.add('active');
    updateChartData(filter);
  }

  function updateChartData(filter) {
    var groupedData = groupDataByPeriod(filter);

    if (chart) {
      chart.destroy();
    }

    var ctx = document.getElementById("chart-sales-dark").getContext("2d");
    chart = new Chart(ctx, {
      type: "line",
      data: {
        labels: groupedData.labels,
        datasets: [
          {
            label: "Entradas por período",
            data: groupedData.entries,
            borderColor: "rgba(75, 192, 192, 1)",
            backgroundColor: "rgba(75, 192, 192, 0.2)",
            borderWidth: 1,
            fill: true,
          },
        ],
      },
      options: {
        responsive: true,
        scales: {
          x: {
            title: {
              display: true,
              text:
                filter === "day"
                  ? "Dia"
                  : filter === "week"
                  ? "Semana"
                  : filter === "month"
                  ? "Mês"
                  : "Ano",
              color: "#fff",
            },
          },
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: "Número de Entradas",
              color: "#fff",
            },
          },
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function (tooltipItem) {
                var period = groupedData.labels[tooltipItem.dataIndex];
                var userEntries = groupedData.usersPerDay[period] || {};

                if (Object.keys(userEntries).length === 0) {
                  return "Sem entradas para esse período.";
                }

                return Object.keys(userEntries).map(function (user) {
                  return `Usuário: ${user} | Entradas: ${userEntries[user]}`;
                });
              },
            },
          },
        },
      },
    });
  }

  function groupDataByPeriod(period) {
    let groupedLabels = [];
    let groupedEntries = [];
    let groupedUsers = {};

    const months = [
      "Janeiro",
      "Fevereiro",
      "Março",
      "Abril",
      "Maio",
      "Junho",
      "Julho",
      "Agosto",
      "Setembro",
      "Outubro",
      "Novembro",
      "Dezembro",
    ];

    days.forEach(function (day, index) {
      let label,
        entry = entries[index];

      if (period === "day") {
        label = day;
      } else if (period === "week") {
        let weekNumber = getWeekNumber(new Date(day));
        label = "Semana " + weekNumber;
      } else if (period === "month") {
        let month = new Date(day).getMonth();
        label = months[month];
      } else if (period === "year") {
        let year = new Date(day).getFullYear();
        label = `Ano ${year}`;
      }

      if (!groupedLabels.includes(label)) {
        groupedLabels.push(label);
        groupedEntries.push(entry);
        groupedUsers[label] = {};
      } else {
        const labelIndex = groupedLabels.indexOf(label);
        groupedEntries[labelIndex] += entry;
      }

      let userEntries = usersPerDay[day] || {};
      Object.keys(userEntries).forEach(function (user) {
        if (!groupedUsers[label][user]) {
          groupedUsers[label][user] = userEntries[user];
        } else {
          groupedUsers[label][user] += userEntries[user];
        }
      });
    });

    return {
      labels: groupedLabels,
      entries: groupedEntries,
      usersPerDay: groupedUsers,
    };
  }

  function getWeekNumber(date) {
    var firstDayOfYear = new Date(date.getFullYear(), 0, 1);
    var pastDaysOfYear = (date - firstDayOfYear) / 86400000;
    return Math.ceil((pastDaysOfYear + 1) / 7);
  }

  updateChartData("day");
</script>
{% endblock %}
