{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0"></h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Admin</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Visualizações</h5>
                      <span class="h2 font-weight-bold mb-0">{{total_views}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <!-- Condicional para escolher a seta -->
                    <span class="{{ percentage_class }} mr-2">
                      {% if percentage_increase >= 0 %}
                          <i class="fa fa-arrow-up"></i>
                      {% else %}
                          <i class="fa fa-arrow-down"></i>
                      {% endif %}
                      {{ percentage_increase|floatformat:2 }}%
                  </span>
                  <span class="text-nowrap">Comparativo com mês passado</span>
              </p>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Novos Usuários</h5>
                      <span class="h2 font-weight-bold mb-0">{{ new_users }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="{{ new_users_percentage_class }} mr-2">
                      {% if new_users_percentage_change >= 0 %}
                          <i class="fa fa-arrow-up"></i> 
                      {% else %}
                          <i class="fa fa-arrow-down"></i> 
                      {% endif %}
                      {{ new_users_percentage_change|floatformat:2 }}%
                  </span>
                  <span class="text-nowrap">Comparativo com mês passado</span>
              </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Documentações Criadas</h5>
                      <span class="h2 font-weight-bold mb-0">{{ total_documents_current_month }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <p class="mt-3 mb-0 text-sm">
                      {% if percentage_increase >= 0 %}
                          <span class="text-success mr-2">
                              <i class="fa fa-arrow-up"></i>
                          </span>
                      {% else %}
                          <span class="text-danger mr-2">
                              <i class="fa fa-arrow-down"></i>
                          </span>
                      {% endif %}
                      <span class="{{ percentage_class }}">{{ percentage_increase|floatformat:2 }}%</span>
                      <span class="text-nowrap">Comparativo com mês passado</span>
                  </p>
                  
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Entradas no sistema</h5>
                      <span class="h2 font-weight-bold mb-0">{{ logins_current_month }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    {% if login_percentage_increase >= 0 %}
                        <span class="text-success mr-2">
                            <i class="fa fa-arrow-up"></i>
                        </span>
                    {% else %}
                        <span class="text-danger mr-2">
                            <i class="fa fa-arrow-down"></i>
                        </span>
                    {% endif %}
                    <span class="{{ login_percentage_class }}">{{ login_percentage_increase|floatformat:2 }}%</span>
                    <span class="text-nowrap">Comparativo com mês passado</span>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
<div class="container-fluid mt-6">
  <div class="row">
    <div class="col-xl-6">
      <!-- Card do gráfico -->
      <div class="card bg-default">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
              <h5 class="h3 text-white mb-0">Entradas no Sistema</h5>
            </div>
            <div class="col">
              <!-- Filtros de tempo como botões -->
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2">
                  <a
                    class="nav-link py-2 px-3 active"
                    onclick="setFilter('day')"
                  >
                    <span class="d-none d-md-block">Dia</span>
                    <span class="d-md-none">D</span>
                  </a>
                </li>
                <li class="nav-item mr-2">
                  <a
                    class="nav-link py-2 px-3 "
                    onclick="setFilter('month')"
                  >
                    <span class="d-none d-md-block ">Mês</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link py-2 px-3 "
                    onclick="setFilter('year')"
                  >
                    <span class="d-none d-md-block ">Ano</span>
                    <span class="d-md-none">A</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Gráfico -->
          <div class="chart">
            <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>

      <!-- Seção "Usuários por Período" -->
      <div class="mt-5 text-center">
        <h4 class="text-white">Usuários por Período</h4>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="table-responsive">
          <table class="table align-items-center table-dark">
              <thead class="thead-dark">
                  <!-- Linha com o título centralizado -->
                  <tr>
                      <th colspan="4" class="text-center"><h3 class="mb-4 text-white">Ranking de Visualizações</h3></th>
                  </tr>
                  <tr>
                      <th scope="col" class="sort" data-sort="name">#</th>
                      <th scope="col" class="sort" data-sort="name">Documentação</th>
                      <th scope="col" class="sort" data-sort="view_count">Visualizações</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <tbody class="list">
                  {% for item in top_items %}
                  <tr>
                      <th scope="row">
                          <div class="media align-items-center">
                              <div class="media-body">
                                  <span class="name mb-0 text-sm">{{ forloop.counter }}</span>
                              </div>
                          </div>
                      </th>
                      <td class="budget">
                          <span class="name mb-0 text-sm">{{ item.1 }}</span> <!-- item.1 é o 'name' -->
                      </td>
                      <td class="budget">
                          {{ item.2 }} <!-- item.2 é o 'view_count' -->
                      </td>
                      
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  
  
    

    

  </div>
  {% include "includes/footer.html" %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var days = JSON.parse("{{ days|escapejs }}");
  var entries = JSON.parse("{{ entries|escapejs }}");
  var usersPerDay = JSON.parse("{{ users_per_day|escapejs }}");

  var chart;

  function setFilter(filter) {
    document.querySelectorAll('.nav-link').forEach((link) => {
      link.classList.remove('active');
    });
    event.target.classList.add('active');
    updateChartData(filter);
  }

  function updateChartData(filter) {
    var groupedData = groupDataByPeriod(filter);
  
    if (chart) {
      chart.destroy();
    }
  
    var ctx = document.getElementById("chart-sales-dark").getContext("2d");
    chart = new Chart(ctx, {
      type: "line",
      data: {
        labels: groupedData.labels,
        datasets: [
          {
            label: "Entradas por período",
            data: groupedData.entries,
            borderColor: "rgba(75, 192, 192, 1)",
            backgroundColor: "rgba(75, 192, 192, 0.2)",
            borderWidth: 1,
            fill: true,
            tension: 0.4, // Suaviza a linha
          },
        ],
      },
      options: {
        responsive: true,
        scales: {
          x: {
            title: {
              display: true,
              text:
                filter === "day"
                  ? "Dia"
                  : filter === "month"
                  ? "Mês"
                  : "Ano",
              color: "#fff",
            },
          },
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: "Número de Entradas",
              color: "#fff",
            },
          },
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function (tooltipItem) {
                var period = groupedData.labels[tooltipItem.dataIndex];
                var userEntries = groupedData.usersPerDay[period] || {};
  
                if (Object.keys(userEntries).length === 0) {
                  return "Sem entradas para esse período.";
                }
  
                // Formatação do período (Mês/Ano ou Ano)
                var formattedPeriod;
                if (period.includes('-')) {
                  var dateParts = period.split('-');
                  formattedPeriod = `${new Date(period).toLocaleString('default', { month: 'short' })}/${dateParts[0]}`;
                } else {
                  formattedPeriod = period;
                }
  
                return Object.keys(userEntries).map(function (user) {
                  return `Usuário: ${user} | Entradas: ${userEntries[user]}`;
                });
              },
            },
          },
        },
      },
    });
  }
  

  function groupDataByPeriod(period) {
    let groupedLabels = [];
    let groupedEntries = [];
    let groupedUsers = {};

    const months = [
      "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
    ];

    days.forEach(function (day, index) {
      let label,
        entry = entries[index];

      if (period === "day") {
        label = day;
      } else if (period === "month") {
        let month = new Date(day).getMonth();
        label = months[month];
      } else if (period === "year") {
        let year = new Date(day).getFullYear();
        label = `Ano ${year}`;
      }

      if (!groupedLabels.includes(label)) {
        groupedLabels.push(label);
        groupedEntries.push(entry);
        groupedUsers[label] = {};
      } else {
        const labelIndex = groupedLabels.indexOf(label);
        groupedEntries[labelIndex] += entry;
      }

      let userEntries = usersPerDay[day] || {};
      Object.keys(userEntries).forEach(function (user) {
        if (!groupedUsers[label][user]) {
          groupedUsers[label][user] = userEntries[user];
        } else {
          groupedUsers[label][user] += userEntries[user];
        }
      });
    });

    return {
      labels: groupedLabels,
      entries: groupedEntries,
      usersPerDay: groupedUsers,
    };
  }

  updateChartData("day"); // Exibe o gráfico por dia ao carregar a página
</script>


    

      

    

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
